ul {
    margin: 0;
    padding: 0;  
}

nav {
    background-color: white;
}

.custom-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
    
}

.custom-nav-list {
    list-style: none;
    padding: 0;
}

.custom-nav-item {
    display: inline-block;
    margin: 0 1.6rem;
}

.custom-nav-item a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.custom-nav-item:hover {
    text-decoration: underline;
}

.custom-nav-logo {
  padding-top: 1.5rem;
  margin-right: 30rem;
}

.custom-nav-cart {
    display: flex;
    align-items: center;
}

.custom-nav-cart a {
    width: 30px;
    height: 30px;
}

.custom-nav-cart-item {
    padding: 0 1.5rem;
}

.custom-nav-info a {
    width: 35px;
    height: 35px;
}


